// main color
$black: #333333
$ivory: #f5f5f5
$white: #ffffff
$orange: #fba653
// ่minor color
$grey: #585858
$lightorange: #fdb875
$coral: #f18c70

@font-face
    font-family: arial
    src: url('./assets/fonts/ARLRDBD.ttf')

@font-face
    font-family: 
    src: url('./assets/fonts/PSL168SP.TTF')

h1,h2,h3,h4,h5,h6,p
    margin: 0

.navbar
    background-color: #fba65399
    height: 100px
    width: 100%
    box-sizing: border-box
    position: fixed
    display: flex
    aligh-items: center
    justify-content: space-between
    #logo
        width: 80px
        height: 90px
    .menu-bar
        display: flex
        li
            list-style: none
    