@font-face {
  font-family: arial;
  src: url("./assets/fonts/ARLRDBD.ttf");
}

@font-face {
  font-family: PSL;
  src: url("./assets/fonts/PSL168SP.TTF");
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

::-webkit-input-placeholder {
  color: #58585860;
}

:-ms-input-placeholder {
  color: #58585860;
}

::-ms-input-placeholder {
  color: #58585860;
}

::placeholder {
  color: #58585860;
}

.navbar {
  background-color: #fba653;
  opacity: 0.8;
  height: 120px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.navbar .navbar-logo #logo {
  width: 104px;
  border-radius: 8px;
}

.navbar .navbar-logo #cube {
  width: 88px;
  -webkit-filter: drop-shadow(0px 8px 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 8px 2px rgba(0, 0, 0, 0.5));
}

.navbar .navbar-logo h1 {
  font-family: PSL;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
}

.navbar .menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.navbar .menu-bar li {
  list-style: none;
  font-family: arial;
  font-size: 16px;
  color: #585858;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}

.navbar .menu-bar li #cube {
  width: 56px;
  -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
}

.partner {
  margin-top: 600px;
  background-color: #fba653;
  opacity: 0.8;
  height: 180px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.partner h1 {
  font-family: arial;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  margin-bottom: 8px;
}

.partner .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  width: 100%;
  height: 108px;
  overflow: hidden;
}

.partner .carousel img {
  width: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(0px 8px 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 8px 2px rgba(0, 0, 0, 0.5));
}

.footer {
  margin-top: 0;
  background-color: #8D8D8D;
  height: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.footer .form {
  width: 368px;
  height: 104px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
  align-items: center;
}

.footer .form .namebox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 180px;
  height: 32px;
  border: 2px solid #585858;
  border-radius: 8px;
  padding-left: 8px;
}

.footer .form .emailbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 180px;
  height: 32px;
  border: 2px solid #585858;
  border-radius: 8px;
  padding-left: 8px;
}

.footer .form .messagebox {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 64px;
  border: 2px solid #585858;
  border-radius: 8px;
  padding-left: 8px;
}

.footer .foot-text {
  width: 254px;
  text-align: center;
}

.footer .foot-text h1 {
  font-family: arial;
  font-size: 32px;
  color: #fdb875;
  text-align: center;
}

.footer .foot-text .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

.footer .foot-text .welcome #cube {
  width: 56px;
  -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
}

.footer .foot-text .welcome h2 {
  font-family: arial;
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

.footer #logo {
  width: 110px;
  border-radius: 8px;
}
/*# sourceMappingURL=style.css.map */